<section class="section mt-6">
  <div class="container">
    <div class="col">
      <div class="col">
        <% @shops.each do |shop| %>
          <div class="col-8 card">
            <div class="row card-header">
              <div class="coi-2 header-image">
                <%= image_tag shop.get_shop_image(100,100) %>
              </div>
              <div class="col-6">
                <p class="card-header-title">
                  <%= shop.name %><br>
                  <%= shop.address %>
                </p>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="average-review-rating" data-score=<%= shop.avg_rate %>></div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= shop.avg_rate %>点（<%= link_to shop.reviews.count, shop_reviews_path(shop.id) %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>
            <footer class="col card-footer">
              <%= link_to shop_reviews_path(shop), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to shop_path(shop), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </footer>
          </div>
        <% end %>
        <!--平均点を星で表示-->
        <%= render 'average' %>
      </div>
    </div>
  </div>
</section>