<div class="container">
  <div class="row">
    <div class="col-8 my-2">
      <h2>猫カフェ詳細/レビュー投稿</h2>
    </div>

    <div class="col-8 shop border-bottom mx-auto mb-4">
      <div class="row">
        <div class="col-4 shop-left-section">
          <%= image_tag @shop.get_shop_image(100,100) %>
        </div>
        <div class="col-8 shop-right-section">
          <div class="row">
            <%= @shop.name %><br>
            <%= @shop.address %>
          </div>
          <!--平均点の表示-->
          <div class="row">
            <div class"col-4 star-rating">
              <div class="average-review-rating" data-score=<%= @shop.avg_rate %>></div>
            </div>
            <div class="col-6 average-score-display">
              <%= @shop.avg_rate %>点（<%= link_to @shop.reviews.count, shop_reviews_path(@shop.id) %>件のレビュー）
              <%= render 'average', shop: @shop %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-8 new-review-section mx-auto">
      <%= render 'form', review: @review, shop: @shop %>
    </div>

  </div>
</div>

