    <div class="col-8 card mx-auto">
      <div class="row">
        <div class="col-3 review-customer text-center">
          <%= image_tag review.customer.get_profile_image(100,100) %><br>
　        <%= review.customer.nickname %>
        </div>
        <div class="col-5">
          <p><%= review.title %></p>
          <div class="row rating-star">
            <p id="star-rate-<%= review.id %>"></p>
            <%= review.rate %>点
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-4 my-2">
          <%= review.content %>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-2 favorite">
          <% if customer_signed_in? %>
            <% if review.favorited_by?(current_customer) %>
              <p>
                <%= link_to shop_review_favorites_path(review.shop_id, review), method: :delete do %>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= review.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to shop_review_favorites_path(review.shop_id, review), method: :post do %>
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  <%= review.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
        <div class="col-3 comment-link">
          <%= link_to review.comments.count, shop_review_path(review.shop_id, review) %>件のコメント
        </div>
      </div>
      <div class="row justify-content-end mr-5">
          <% if review.customer == current_customer %>
            <%= link_to "編集する", edit_shop_review_path(review), class: "btn btn-success mr-3" %>
            <%= link_to "削除する", shop_review_path(review), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"}  %>
          <% elsif %>
            <%= link_to "削除する", admin_shop_review_path(review), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"}  %>
          <% end %>
      </div>
      <!--星を表示する-->
　    <%= render '/public/reviews/star', review: review %>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 review-image mt-2">
        <p>投稿写真：</p>
          <% review.review_images.each do |image| %>
            <%= image_tag(image, width:100) %>
          <% end %>
      </div>
    </div>