<div class="container">
  <div class="row">
      <div class="col-10">
        <h2><%= link_to @shop.name, shop_path(@shop) %>のレビュー一覧</h2>
      </div>

        <% @reviews.each do |review| %>
          <div class="col-6 card mx-auto">
            <div class="row">
              <div class="col-3 card-review-customer text-center">
                <%= image_tag review.customer.get_profile_image(100,100) %><br>
                <%= review.customer.nickname %>
              </div>
              <div class="col-6 card-review-detail">
                <div class="row">
      　           <p id="star-rate-<%= review.id %>"></p>
      　           <%= review.rate %>点
                </div>
                <div>
                  <p>タイトル：<%= review.title %></p>
                </div>
                <div>
                  <p>レビュー：<%= review.content %></p>
                </div>

              </div>
            </div>
           <!--星を表示する-->
　         <%= render 'star', review: review %>
　        </div>
        <% end %>
  </div>
</div>